

@keyframes bottomToCenterBounce {
  0% {
    opacity: 0;
    transform: translateY(60%) scale(0.9);
  }
  60% {
    opacity: 1;
    transform: translateY(0) scale(1.03);
  }
  80% {
    transform: translateY(-6px) scale(0.98);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
.modal-bounce-up {
  animation: bottomToCenterBounce 0.45s cubic-bezier(0.22, 1, 0.36, 1);
}



@keyframes flipIn {
  0% {
    transform: rotateY(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}


@keyframes flipOut {
  0% {
    transform: rotateY(0);
    opacity: 1;
  }
  100% {
    transform: rotateY(90deg);
    opacity: 0;
  }
}

.flip-container {
  perspective: 1000px;
}

.flip-page {
  transform-origin: left;
  animation: flipIn 0.5s ease both;
}

.flip-page-reverse {
  transform-origin: right;
  animation: flipOut 0.5s ease both;
}
