<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <div class="flex grow flex-col content-start overflow-hidden bg-card">
    <!-- Header -->
    <app-navbar-user></app-navbar-user>
    <!-- main content -->
    <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <div class="mx-auto px-2 py-2 sm:px-4 lg:container">
        <router-outlet></router-outlet>
      </div>
    </div>
    <!-- footer -->
    <app-footer></app-footer>
    <!-- Bottom bar -->
    <app-bottom-navbar></app-bottom-navbar>
  </div>
</div>
