<div class="bg-gray-100 p-6 rounded-lg border border-gray-200">
      <h3 class="text-lg font-bold text-gray-800">Your Exchange</h3>
      <div class="space-y-3 text-gray-700 mt-4">
        <div class="flex justify-between">
          <span>Amount Send ↑</span>
          <span class="font-bold text-lg">{{ 1320 | number }} BDT</span>
        </div>
        <div class="flex justify-between">
          <span>Amount Receive ↓</span>
          <span class="font-bold text-lg">{{ 1200 | number:'1.4-4' }} USD</span>
        </div>
        </div>
    </div>