@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')
layer(base);
@import 'tailwindcss';

/** Plugins **/
@import './assets/styles/apexchart.css';

@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/aspect-ratio";
@plugin "tailwind-scrollbar";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-*: initial;
  --font-poppins: Poppins, system-ui, sans-serif;
  --font-nunito: Nunito Sans, sans-serif;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  --animate-fade-in-down: fade-in-down 0.3s ease-out;
  --animate-fade-out-down: fade-out-down 0.3s ease-out;
  --animate-fade-in-up: fade-in-up 0.3s ease-out;
  --animate-fade-out-up: fade-out-up 0.3s ease-out;

  --shadow-custom: 0px 0px 50px 0px rgb(82 63 105 / 15%);

  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);

  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);

  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }

    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-down {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fade-out-up {
    from {
      opacity: 1;
      transform: translateY(0px);
    }

    to {
      opacity: 0;
      transform: translateY(10px);
    }
  }
}

@utility container {
  padding-inline: 1rem;

  @media (width >=theme(--breakpoint-sm)) {
    padding-inline: 2rem;
  }

  @media (width >=theme(--breakpoint-lg)) {
    padding-inline: 4rem;
  }

  @media (width >=theme(--breakpoint-xl)) {
    padding-inline: 5rem;
  }

  @media (width >=theme(--breakpoint-2xl)) {
    padding-inline: 6rem;
  }
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@utility dropdown-content {
  @apply pointer-events-none scale-95 opacity-0 duration-100 ease-in;

  .dropdown:hover > & {
    @apply animate-fade-in-up pointer-events-auto block scale-100 opacity-100 duration-200;
  }
}

@utility dropdown {
  &:hover > .dropdown-content {
    @apply animate-fade-in-up pointer-events-auto block scale-100 opacity-100 duration-200;
  }
}

@layer base {
  :root {
    --background: #ffffffea;
    --foreground: #64748b;
    --card: #f1f5f9;
    --card-foreground: #000000;
    --primary: #e11d48;
    --primary-foreground: #ffffff;
    --muted: #cfd9e5;
    --muted-foreground: #64748b;
    --destructive: #cc0033;
    --destructive-foreground: #fafafa;
    --border: #e2e8f0;
  }

  .dark {
    --background: #202020;
    --foreground: #dad6d6;
    --card: #1f1e1e;
    --card-foreground: #262626;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --border: #262626;
  }

  :root[data-theme='violet'] {
    --primary: #6e56cf;
  }

  .dark[data-theme='violet'] {
    --background: #060815;
    --foreground: #dad6d6;
    --card: #0b0f1a;
    --card-foreground: #f6f8fb;
    --primary-foreground: #f6f8fb;
    --muted: #232b3d;
    --muted-foreground: #a1a8bf;
    --border: #232b3d;
  }

  :root[data-theme='red'] {
    --primary: #cc0033;
  }

  .dark[data-theme='red'] {
    --primary-foreground: #ffe5e5;
  }

  :root[data-theme='blue'] {
    --primary: #2490ff;
  }

  .dark[data-theme='blue'] {
    --background: #02080f;
    --foreground: #dad6d6;
    --card: #0b1117;
    --card-foreground: #f8fafc;
    --primary-foreground: #0f1729;
    --muted: #1e293b;
    --muted-foreground: #94a3b8;
    --border: #1e293b;
  }

  :root[data-theme='orange'] {
    --primary: #ea580c;
  }

  .dark[data-theme='orange'] {
    --background: #0c0a09;
    --foreground: #dad6d6;
    --card: #141110;
    --card-foreground: #fafaf9;
    --primary-foreground: #fafaf9;
    --muted: #292524;
    --muted-foreground: #a8a29e;
    --border: #292524;
  }

  :root[data-theme='yellow'] {
    --primary: #facc15;
  }

  .dark[data-theme='yellow'] {
    --background: #141110;
    --foreground: #dad6d6;
    --card: #141110;
    --card-foreground: #fafaf9;
    --primary: #facc15;
    --primary-foreground: #141110;
    --muted: #292524;
    --muted-foreground: #a8a29e;
    --border: #2b2524;
  }

  :root[data-theme='green'] {
    --primary: #22c55e;
  }

  .dark[data-theme='green'] {
    --primary: #22c55e;
    --primary-foreground: #052e16;
  }
}

/** Scroll bar **/
@supports selector(::-webkit-scrollbar) {
  .supports-scrollbars\: pr-2 {
    padding-right: 0.5rem;
  }
}

/** Custom Forms **/
[type='text'],
[type='email'],
[type='url'],
[type='password'],
[type='number'],
[type='date'],
[type='datetime-local'],
[type='month'],
[type='search'],
[type='tel'],
[type='time'],
[type='week'],
[multiple],
textarea,
select {
  @apply border-border bg-background text-foreground placeholder-muted-foreground focus:border-primary focus:ring-primary w-full rounded-md border text-xs focus:z-10 focus:outline-hidden;
}

label {
  @apply text-foreground bg-background mb-1 text-sm font-semibold sm:text-base;
}

button {
  @apply rounded-md text-sm font-medium shadow-sm hover:cursor-pointer hover:text-primary  focus:outline-none focus:ring-2 focus:ring-primary focus:ring-offset-2 disabled:opacity-50 disabled:pointer-events-none;
}

[type='checkbox'],
[type='radio'] {
  @apply border-border bg-background checked:border-primary checked:bg-primary indeterminate:border-primary indeterminate:bg-primary focus:ring-primary h-4 w-4 rounded-sm focus:ring-2;
}
html,
body {
  height: 100%;
    scrollbar-width: thin;
  scrollbar-color: #3a3a3a transparent;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;

}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

.ball-scale-multiple > div {
  display: inline-block !important;
  background-color: #fff !important;
}

/* Hide scrollbar but keep scrolling */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.menu-card {
  @apply bg-background text-foreground flex h-24 flex-col items-center justify-center gap-2 rounded-3xl border text-sm font-medium shadow-sm transition active:scale-95;
}
.icon-wrap {
  @apply flex h-12 w-12 items-center justify-center rounded-2xl;
}
.icon {
  @apply h-6 w-6;
}

.floating-label {
  @apply bg-background peer-focus:text-primary absolute left-2 top-2 -translate-y-4 scale-90 px-2 text-xs text-gray-500
         transition peer-placeholder-shown:top-1/2
         peer-placeholder-shown:-translate-y-1/2 peer-placeholder-shown:scale-100 peer-focus:top-2 peer-focus:-translate-y-4 peer-focus:scale-90;
}

.input {
  @apply focus:border-primary focus:ring-primary/20 w-full rounded-xl border border-gray-300 bg-white px-4 py-3 text-sm focus:ring-2;
}

.error-text {
  @apply mt-1 block text-xs text-red-500;
}
