<div class="w-full overflow-hidden py-2">
  <div class="animate-marquee-seamless flex">
    <h3 class="text-foreground flex-shrink-0 px-4 font-semibold focus-visible:ring-violet-500">
      ** Welcome to Dollarpaying.COM! Our website is subject to state “Money Laundering Complies with Prevention Act'
      2012. We provide services for the convenience of freelancers. Transaction fees will be borne by the customer. **
      DollarPaying.COM এর পক্ষ থেকে সবাইকে স্বাগতম! আমাদের ওয়েবসাইটটি রাষ্ট্রীয় "মানিলন্ডারিং প্রতিরোধ আইন' ২০১২" এর
      প্রতি শ্রদ্ধাশীল। আমরা ফ্রিল্যান্সারদের সুবিধার্থে সার্ভিস দিয়ে থাকি। ট্রাঞ্জেকশন এর ফি সমূহ গ্রাহক বহন করবে। **
    </h3>
    <h3
      class="text-foreground flex-shrink-0 px-4 font-semibold focus-visible:ring-violet-500"
      aria-hidden="true">
      ** Welcome to Dollarpaying.COM! Our website is subject to state “Money Laundering Complies with Prevention Act'
      2012. We provide services for the convenience of freelancers. Transaction fees will be borne by the customer. **
      DollarPaying.COM এর পক্ষ থেকে সবাইকে স্বাগতম! আমাদের ওয়েবসাইটটি রাষ্ট্রীয় "মানিলন্ডারিং প্রতিরোধ আইন' ২০১২" এর
      প্রতি শ্রদ্ধাশীল। আমরা ফ্রিল্যান্সারদের সুবিধার্থে সার্ভিস দিয়ে থাকি। ট্রাঞ্জেকশন এর ফি সমূহ গ্রাহক বহন করবে। **
    </h3>
  </div>
</div>
